<h1>Crawler</h1>

<form action="/signup" method="post">  
  Name: <input type="text" name="username" />  
  Password: <input type="password" name="password" />  
  <input type="submit" value="Sign up" />  
</form>

